<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="account">

	<!-- 회원가입 -->
	<insert id="insert">
		insert into account(
			account_id, account_pw, account_nickname, 
			account_birth, account_contact, account_email, 
			account_gender
			) 
		values(
			#{accountId}, #{accountPw}, #{accountNickname}, 
			#{accountBirth}, #{accountContact}, #{accountEmail}, 
			#{accountGender}
			)
	</insert>
	
	<!-- 중복검사 -->
	<select id="countByAccountId" resultType="int">
		select count(*) from account where account_id = #{accountId}
	</select>
	
	<select id="countByAccountNickname" resultType="int">
		select count(*) from account where account_nickname = #{accountNickname}
	</select>
	
	<select id="countByAccountContact" resultType="int">
		select count(*) from account where account_contact = #{accountContact}
	</select>
	
	<!-- 회원의 로그인 시간 업데이트 -->
	<update id="updateLoginTime">
		update account 
		set 
		account_login = systimestamp 
		where account_id = #{accountId}
	</update>
	
	<!-- 회원 정보 업데이트(PUT) -->
	<update id="update">
		update account 
			set 
			account_nickname = #{accountNickname}, account_email = #{accountEmail}, 
			account_change = systimestamp
		where account_id = #{accountId}
	</update>
	
	<!-- 회원 정보 업데이트(PATCH) -->
	<update id="updatePw">
		update account
			set 
			account_pw = #{accountPw}, account_change = systimestamp 
		where account_id = #{accountId}
	</update>
	
	<update id="updateContact">
		update account 
			set 
			account_contact = #{accountContact}, account_change = systimestamp
		where account_id = #{accountId}
	</update>
	
	<!-- 회원 삭제 -->
	<delete id="delete">
		delete from account where account_id = #{accountId}
	</delete>
	
	<!-- 회원 상세 조회 -->
	<select id="detail" resultType="AccountDto">
		select * from account where account_id = #{accountId}
	</select>
	<select id="detailByAccountNickname" resultType="AccountDto">
		select * from account where account_nickname = #{accountNickname}
	</select>
	
	<!-- 회원 검색 -->
	
	
	<!-- 관리자용 복합검색 -->
	<select id="complexSearch" resultType="AccountDto">
		select * from account 
			<where>
				<!-- 관리자 확인용 구문 추가 -->
				and #{loginLevel} = '관리자'
				<!-- 아이디 : 유사 검색-->
				<if test="accountId != null">
					and instr(account_id, #{accountId}) > 0 
				</if>
				<!-- 닉네임 : 유사 검색  -->
				<if test="accountNickname != null">
					and instr(account_nickname, #{accountNickname}) > 0 
				</if>
				<!-- 이메일 : 유사 검색 -->
				<if test="accountEmail != null">
					and instr(account_email, #{accountEmail}) > 0 
				</if>
				<!-- 전화번호 : 유사 검색(starts with) -->
				<if test="accountContact != null">
					and account_contact like #{accountContact} || '%' 
				</if>
				<if test="accountBirth != null">
					and account_birth = #{accountBirth}
				</if>
				<!-- 가입일 : 구간 검색 -->
				<choose>
					<when test="beginAccountJoin != null and endAccountJoin != null">
						and account_join between 
							to_timestamp(#{beginAccountJoin} || '00:00:00.000', 'yyyy-mm-dd hh24:mi:ss.ff3') 
							and 
							to_timestamp(#{endAccountJoin} || '00:00:00.000', 'yyyy-mm-dd hh24:mi:ss.ff3')
					</when>
					<when test="beginAccountJoin != null">
						<![CDATA[and account_join >= to_timestamp(#{beginAccountJoin} || ' 00:00:00.000', 'yyyy-mm-dd hh24:mi:ss.ff3)]]>
					</when>
					<when test="endAccountJoin != null">
						<![CDATA[and account_join <= to_timestamp(#{endAccountJoin} || ' 00:00:00.000', 'yyyy-mm-dd hh24:mi:ss.ff3)]]>
					</when>
				</choose>
				<!-- 일정 갯수 : 구간 검색 -->
				<choose>
					<when test="minScheduleQty != null and maxScheduleQty != null">
						and account_max_schedule between #{minScheduleQty} and #{maxScheduleQty} 
					</when>
					<when test="minScheduleQty != null">
						<![CDATA[and account_max_schedule >= #{minScheduleQty}]]>
					</when>
					<when test="maxScheduleQty != null">
						<![CDATA[and account_max_schedule <= #{minScheduleQty}]]>
					</when>
				</choose>
			</where>
			order by account_join desc
	</select>
	

</mapper>