<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cert">

	<insert id="insert">
		insert into cert(cert_target, cert_number) 
		values(#{certTarget}, #{certNumber})
	</insert>
	
	<select id="check" resultType="int">
		select count(*) from cert 
		where cert_target = #{certTarget} and cert_number = #{certNumber}
	</select>
	
	<delete id="delete">
		delete from cert where cert_target = #{certTarget}
	</delete>
	
	<!-- 조회용 -->
	<select id="detail" resultType="certDto">
		select * from cert where cert_target = #{certTarget}
	</select>

</mapper>