<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewUnitLink">

<select id="sequence" resultType="int">
	select review_unit_link_seq.nextval from dual
</select>

<insert id="insert">
	insert into review_unit_link(
	link_no , review_no , schedule_unit_no 
	) values (
	#{linkNo} , #{reviewNo} , #{scheduleUnitNo} 
	)
</insert>

<select id="select"  resultType="ReviewUnitLinkDto">
	select * from review_unit_link 
	<where>
		<if test="reviewNo != null">
	 review_no = #{reviewNo}
		</if>
	</where>

</select>

<delete id="delete">
	delete from review_unit_link
	<where>
		<if test="scheduleUnitNo != null">
		and schedule_unit_no = #{scheduleUnitNo}
		</if>
		<if test="reviewNo != null">
		and review_no = #{reviewNo}
		</if>
	</where>
	 
</delete>

</mapper>