<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shareLink">

	<insert id="insert">
		insert into share_link(
		share_no, share_key, target_schedule_no, expire_time
		) 
		values 
		(share_link_seq.nextval, #{shareKey}, #{targetScheduleNo}, #{expireTime})
	</insert>
	
	<select id="select" resultType="ShareLinkDto">
		select * from share_link where share_key = #{shareKey}
	</select>


</mapper>

